$fondopag: #f8f8f8d0;
$fonavfoo: #795f5fd2;
$bordes: #000;
$letras: #fff;
$backimage: #807d7d;
$background: #c0bcbc;
$fontfamily: Georgia, 'Times New Roman', Times, serif;

@mixin tamaño($width, $heigth) {
	width: $width;
	height: $heigth;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fondo {
	background-color: $fondopag;

	&.dark {
		background: #111111;
	}
}
.fondo-nav {
	background-image: linear-gradient($fonavfoo, $background);

	.logo img {
		@include tamaño(80px, 80px);
	}

	.navbar-toggler {
		border: 2px solid $bordes;
	}

	body.dark & {
		background: #222222;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
		.nav-link {
			color: #c8c8c8;
			&:hover {
				color: #fefefe;
			}
		}
	}
}
.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}
.navbar-dark .navbar-nav .nav-link {
	color: $letras;
	margin-left: 5px;
	font-size: 30px;

	.fas {
		margin-right: 15px;
	}
}
.nav-link {
	text-align: center;
	padding: 0;
	animation-duration: 2s;
	animation-name: aparecer;
	animation-direction: alternate;
	animation-iteration-count: infinite;

	@keyframes aparecer {
		0% {
			opacity: 0.35;
		}
		100% {
			opacity: 1;
		}
	}
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #000;
}
.sillon {
	width: 100%;
	margin-top: 95px;
}
.principal {
	@extend .sobre;
	text-transform: uppercase;
	text-shadow: 2px 5px 5px;
	margin: 10px;
}
.sobre {
	text-align: center;

	body.dark & {
		color: $letras;
	}
}
.nosotros {
	@extend .sobre;
	padding: 15px;
}
.titulo {
	@extend .sobre;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}
.contenedordeservicios {
	display: flex;

	.formasdetrabajo {
		@extend .sobre;
		background-color: $fonavfoo;
		font-size: 25px;

		body.dark & {
			background: rgb(87, 87, 87);
		}
	}

	.serviciosp {
		@extend .sobre;
		font-size: 18px;
		margin: 20px;
	}
}
.precios {
	@extend .sobre;
	margin-top: 20px;
	margin-bottom: 20px;
}
.table {
	@extend .sobre;
	background-color: $background;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;

	body.dark & {
		background: rgb(61, 61, 61);
	}
}
.findepagina {
	@extend .sobre;
	width: 100%;
	background-image: linear-gradient($background, $fonavfoo);

	.redes {
		font-size: 25px;
	}

	.iconos {
		display: grid;
		grid-template-columns: 75px 75px 75px;
		justify-content: center;
	}

	$redes: (
		red1: #dd2a7e,
		red2: #2956a3,
		red3: #42e821,
	);
	@each $red, $color in $redes {
		.btn--#{$red} {
			margin: auto;
			&:hover {
				background-color: $color;
				border-radius: 50px;
			}
		}
	}

	.derechos {
		width: 100%;
		color: $bordes;
		margin-bottom: 0px;

		body.dark & {
			color: $letras;
		}
	}

	body.dark & {
		color: $letras;
		background: #222222;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
		a {
			color: #c8c8c8;
			&:hover {
				color: #fefefe;
			}
		}
	}
}
/* fin de index */
/* modo oscuro*/
.switch {
	margin-left: 20px;
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
	&::after {
		content: '';
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		background: #f1f1f1;
		top: 0;
		left: 0;
		right: unset;
		border-radius: 100px;
		transition: 0.3s ease all;
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	}
	&.active {
		background: orange;
		color: #000;
		&::after {
			right: 0;
			left: unset;
		}
	}
	span {
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		background: none;
		color: #fff;
	}
}
/* fin de modo oscuro */
/* inicio de galería */
.container {
	margin-top: 120px;
	margin-bottom: 20px;
}
.contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	text-align: center;

	.variados {
		text-align: center;
		padding: 20px;
		font-size: 25px;
		background-color: $background;

		body.dark & {
			background: hsl(0, 0%, 24%);
			color: #fff;
		}
	}

	.img-thumbnail {
		@include tamaño(500px, 500px);
		margin: 20px;
		border-radius: 10px;
	}
}
/* fin de galeria */
/* inicio de contactos */
.contacto {
	color: $letras;
	width: 550px;
	background: #0000003d;
	padding: 30px;
	margin: auto;
	margin-top: 140px;
	margin-bottom: 30px;
	border-radius: 6px;
	font-family: $fontfamily;
	text-align: center;

	.tusdatos {
		text-align: center;
		margin-top: 5px;
		margin-bottom: 25px;
		font-size: 35px;
	}

	label {
		display: block;
		font-family: $fontfamily;
		margin-bottom: 5px;
		font-size: 20px;
	}

	input {
		width: 50%;
		padding: 5px;
		border-radius: 4px;
		margin-bottom: 10px;
		font-size: 18px;
		font-family: $fontfamily;
	}

	input[type='submit'] {
		border-radius: 5px;
		margin: 10px 0;
		background: #00b244;
		color: $letras;
		padding: 8px 14px;
		font-weight: bold;
		border: none;
		cursor: pointer;
		font-size: 20px;
	}
}
/* fin de contacto */

@import '_mediaquery';
