@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fondo {
	background-color: #f8f8f8d0;
}

.fondo.dark {
	background: #111111;
}

.fondo-nav {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#795f5fd2), to(#c0bcbc));
	background-image: linear-gradient(#795f5fd2, #c0bcbc);
}

.fondo-nav .logo img {
	width: 80px;
	height: 80px;
}

.fondo-nav .navbar-toggler {
	border: 2px solid #000;
}

body.dark .fondo-nav {
	background: #222222;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark .fondo-nav .nav-link {
	color: #c8c8c8;
}

body.dark .fondo-nav .nav-link:hover {
	color: #fefefe;
}

.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	margin-left: 5px;
	font-size: 30px;
}

.navbar-dark .navbar-nav .nav-link .fas {
	margin-right: 15px;
}

.nav-link {
	text-align: center;
	padding: 0;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-name: aparecer;
	animation-name: aparecer;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
	0% {
		opacity: 0.35;
	}
	100% {
		opacity: 1;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0.35;
	}
	100% {
		opacity: 1;
	}
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #000;
}

.sillon {
	width: 100%;
	margin-top: 95px;
}

.principal {
	text-transform: uppercase;
	text-shadow: 2px 5px 5px;
	margin: 10px;
}

.sobre,
.principal,
.nosotros,
.titulo,
.contenedordeservicios .formasdetrabajo,
.contenedordeservicios .serviciosp,
.precios,
.table,
.findepagina {
	text-align: center;
}

body.dark .sobre,
body.dark .principal,
body.dark .nosotros,
body.dark .titulo,
body.dark .contenedordeservicios .formasdetrabajo,
.contenedordeservicios body.dark .formasdetrabajo,
body.dark .contenedordeservicios .serviciosp,
.contenedordeservicios body.dark .serviciosp,
body.dark .precios,
body.dark .table,
body.dark .findepagina {
	color: #fff;
}

.nosotros {
	padding: 15px;
}

.titulo {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contenedordeservicios {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.contenedordeservicios .formasdetrabajo {
	background-color: #795f5fd2;
	font-size: 25px;
}

body.dark .contenedordeservicios .formasdetrabajo {
	background: #575757;
}

.contenedordeservicios .serviciosp {
	font-size: 18px;
	margin: 20px;
}

.precios {
	margin-top: 20px;
	margin-bottom: 20px;
}

.table {
	background-color: #c0bcbc;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
}

body.dark .table {
	background: #3d3d3d;
}

.findepagina {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c0bcbc), to(#795f5fd2));
	background-image: linear-gradient(#c0bcbc, #795f5fd2);
}

.findepagina .redes {
	font-size: 25px;
}

.findepagina .iconos {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 75px 75px 75px;
	grid-template-columns: 75px 75px 75px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.findepagina .btn--red1 {
	margin: auto;
}

.findepagina .btn--red1:hover {
	background-color: #dd2a7e;
	border-radius: 50px;
}

.findepagina .btn--red2 {
	margin: auto;
}

.findepagina .btn--red2:hover {
	background-color: #2956a3;
	border-radius: 50px;
}

.findepagina .btn--red3 {
	margin: auto;
}

.findepagina .btn--red3:hover {
	background-color: #42e821;
	border-radius: 50px;
}

.findepagina .derechos {
	width: 100%;
	color: #000;
	margin-bottom: 0px;
}

body.dark .findepagina .derechos {
	color: #fff;
}

body.dark .findepagina {
	color: #fff;
	background: #222222;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark .findepagina a {
	color: #c8c8c8;
}

body.dark .findepagina a:hover {
	color: #fefefe;
}

/* fin de index */
/* modo oscuro*/
.switch {
	margin-left: 20px;
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	outline: none;
}

.switch::after {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #f1f1f1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	-webkit-transition: 0.3s ease all;
	transition: 0.3s ease all;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
	background: orange;
	color: #000;
}

.switch.active::after {
	right: 0;
	left: unset;
}

.switch span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #fff;
}

/* fin de modo oscuro */
/* inicio de galería */
.container {
	margin-top: 120px;
	margin-bottom: 20px;
}

.contenedor {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	text-align: center;
}

.contenedor .variados {
	text-align: center;
	padding: 20px;
	font-size: 25px;
	background-color: #c0bcbc;
}

body.dark .contenedor .variados {
	background: #3d3d3d;
	color: #fff;
}

.contenedor .img-thumbnail {
	width: 500px;
	height: 500px;
	margin: 20px;
	border-radius: 10px;
}

/* fin de galeria */
/* inicio de tienda */
.productos {
	color: #fff;
	margin-top: 120px;
	text-align: center;
	padding: 20px;
	font-size: 25px;
	background-color: #807d7d;
}

body.dark .productos {
	background: #3d3d3d;
}

.product-row {
	padding: 2%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	gap: 3%;
}

body.dark .table-2 {
	background: #3d3d3d;
}

.card {
	width: 300px;
	border: 1px solid #000;
	margin-bottom: 20px;
	text-align: center;
}

body.dark .card {
	color: #fff;
	background: #222222;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.card-img-top {
	height: 300px;
}

.cuadropago {
	text-align: center;
	background-color: #8a8a8a;
	margin: auto;
	margin-bottom: 25px;
	width: 300px;
	border-radius: 10px;
	padding: 10px;
}

.cuadropago .tarjeta {
	color: #fff;
	background-color: #009714a2;
	font-size: 1.5rem;
	padding: 5px;
	border-radius: 25px;
}

.cuadropago .tarjeta:hover {
	background-color: #c0bcbc;
}

.pagodebito {
	color: #fff;
	background: #0000003d;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 6px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 20px;
}

.pagodebito .debitoP {
	color: #fff;
	background-color: #7e7e7e;
	font-size: 1.5rem;
	padding: 5px;
	border-radius: 25px;
}

.pagocredito {
	color: #fff;
	background: #0000003d;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 6px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 20px;
}

.pagocredito .numerot {
	margin-bottom: 15px;
}

.pagocredito .selector {
	width: auto;
	margin: auto;
}

.pagocredito .creditoP {
	color: #fff;
	background-color: #7e7e7e;
	font-size: 1.5rem;
	padding: 5px;
	border-radius: 25px;
}

.cuadropagar {
	text-align: center;
	background-color: #8a8a8a;
	margin: auto;
	width: 200px;
	margin-bottom: 25px;
	border-radius: 10px;
	padding: 10px;
}

.cuadropagar .pagar {
	color: #fff;
	background-color: #ff0000a2;
	font-size: 1.5rem;
	padding: 6px;
	border-radius: 25px;
}

.cuadropagar .pagar:hover {
	background-color: #c0bcbc;
}

.pago {
	color: #fff;
	background-color: #7e7e7e;
	font-size: 1.2rem;
	padding: 6px;
}

.pago:hover {
	background-color: #c0bcbc;
}

.peso {
	display: inline-block;
}

.card-title {
	text-align: center;
	font-size: 25px;
}

.btn-warning {
	display: block;
	margin: auto;
	color: #fff;
	background-color: #7e7e7e;
}

.btn-warning:hover {
	background-color: #c0bcbc;
}

.card:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 1s;
	transition: all 1s;
}

/* fin de tienda */
/* inicio de contactos */
.tapiz {
	background: url(../imagenes/Cuadro.jpg) center;
}

.contacto {
	color: #fff;
	width: 550px;
	background: #0000003d;
	padding: 30px;
	margin: auto;
	margin-top: 140px;
	margin-bottom: 30px;
	border-radius: 6px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
}

.contacto .tusdatos {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 25px;
	font-size: 35px;
}

.contacto .datos {
	display: block;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 5px;
	font-size: 20px;
}

.contacto .controles {
	width: 50%;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.contacto .comentarios {
	resize: none;
	border-radius: 5px;
	padding: 8px 14px;
	border: 2px solid #000;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.contacto input[type='submit'] {
	border-radius: 5px;
	margin: 10px 0;
	background: #00b244;
	color: #fff;
	padding: 8px 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	font-size: 20px;
}

/* fin de contacto */
@media only screen and (max-width: 480px) {
	.navbar-dark .navbar-nav .nav-link {
		font-size: 15px;
	}
	.fondo-nav .logo img {
		width: 40px;
		height: 40px;
	}
	.fondo-nav .switch {
		margin-left: auto;
	}
	.sillon {
		margin-top: 55px;
	}
	.sobre,
	.principal,
	.nosotros,
	.titulo,
	.contenedordeservicios .formasdetrabajo,
	.contenedordeservicios .serviciosp,
	.precios,
	.table,
	.findepagina {
		font-size: 15px;
	}
	.nosotros {
		font-size: 12px;
	}
	.titulo {
		font-size: 15px;
	}
	.contenedordeservicios {
		display: block;
	}
	.contenedordeservicios .formasdetrabajo {
		font-size: 15px;
		margin: 10px;
	}
	.contenedordeservicios .serviciosp {
		font-size: 12px;
	}
	.precios {
		font-size: 15px;
	}
	.table {
		width: 100%;
		font-size: 8px;
	}
	.findepagina .redes {
		font-size: 15px;
	}
	.container {
		margin-top: 80px;
	}
	.contenedor {
		display: block;
	}
	.contenedor .variados {
		font-size: 15px;
	}
	.contenedor .img-thumbnail {
		width: 250px;
		height: 250px;
	}
	.productos {
		font-size: 15px;
		margin-top: 75px;
	}
	.product-row .card .card-title {
		font-size: 15px;
	}
	.product-row .card .btn-warning {
		font-size: 15px;
	}
	.tapiz {
		background: none;
	}
	.contacto {
		width: 300px;
	}
	.contacto .tusdatos {
		font-size: 25px;
	}
	.contacto .datos {
		font-size: 18px;
	}
	.contacto .controles {
		width: 95%;
		font-size: 15px;
	}
	.contacto .comentarios {
		font-size: 10px;
	}
	.contacto input[type='submit'] {
		font-size: 15px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	.navbar-dark .navbar-nav .nav-link {
		font-size: 25px;
	}
	.fondo-nav .logo img {
		width: 50px;
		height: 50px;
	}
	.fondo-nav .switch {
		margin-left: auto;
	}
	.sillon {
		margin-top: 65px;
	}
	.sobre,
	.principal,
	.nosotros,
	.titulo,
	.contenedordeservicios .formasdetrabajo,
	.contenedordeservicios .serviciosp,
	.precios,
	.table,
	.findepagina {
		font-size: 20px;
	}
	.nosotros {
		font-size: 12px;
	}
	.titulo {
		font-size: 20px;
	}
	.contenedordeservicios {
		display: block;
	}
	.contenedordeservicios .formasdetrabajo {
		font-size: 20px;
		margin: 10px;
	}
	.contenedordeservicios .serviciosp {
		font-size: 15px;
	}
	.precios {
		font-size: 22px;
	}
	.table {
		font-size: 12px;
	}
	.contenedor {
		display: block;
	}
	.contenedor .variados {
		font-size: 20px;
	}
	.contenedor .img-thumbnail {
		width: 350px;
		height: 350px;
	}
	.productos {
		font-size: 20px;
		margin-top: 85px;
	}
	.product-row .card-title {
		font-size: 20px;
	}
	.contacto {
		width: 400px;
	}
	.contacto .tusdatos {
		font-size: 30px;
	}
	.contacto .datos {
		font-size: 20px;
	}
	.contacto .controles {
		font-size: 15px;
	}
	.contacto .comentarios {
		font-size: 14px;
	}
	.contacto input[type='submit'] {
		background: #b20009;
		font-size: 18px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.fondo-nav .logo img {
		width: 60px;
		height: 60px;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-size: 20px;
	}
	.sillon {
		margin-top: 75px;
	}
	.productos {
		margin-top: 95px;
	}
	.contenedor .variados {
		font-size: 20px;
	}
	.contenedor .caracteristicas {
		font-size: 15px;
	}
	.contenedor .img-thumbnail {
		width: 350px;
		height: 350px;
	}
}
/*# sourceMappingURL=estilos.css.map */
